.diver {
  background: url('../images/diver_bubble.png') 100% no-repeat,
    url('../images/diver.png') 100% no-repeat, url('../images/scuba.png') 100% no-repeat,
    url('../images/diver_bubls.png') 100% no-repeat, url('../images/diver_bubl.png') 100% no-repeat,
    linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
  background-position: top 354px left 100px, top 111px right 106px, top 1326px left 94px,
    top 1495px right 90px, top 1065px right 779px, top 0 left 0;

  padding-top: 460px;

  @media screen and (max-width: $xxl) {
    padding-top: 350px;
    background: url('../images/diver_bubble.png') 100% no-repeat,
      url('../images/diver.png') 100% no-repeat, url('../images/scuba.png') 100% no-repeat,
      url('../images/diver_bubl.png') 100% no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 255px left 90px, top 160px right 70px, top 1195px left 44px,
      top 1065px right 120px, top 0 left 0;
  }

  @media screen and (max-width: $xl) {
    padding-top: 250px;
    background: url('../images/diver_bubble.png') 100% no-repeat,
      url('../images/diver.png') 100% no-repeat, url('../images/scuba.png') 100% no-repeat,
      url('../images/diver_bubl.png') 100% no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 340px left 10px, top 110px right 85px, top 1060px left 75px,
      top 990px right 30px, top 0 left 0;
    background-size: 100px 250px, 495px 410px, 370px 290px, 70px 70px, 100%;
  }

  @media screen and (max-width: $lg) {
    padding-top: 230px;
    background: url('../images/diver_bubble.png') 100% no-repeat,
      url('../images/diver.png') 100% no-repeat, url('../images/scuba.png') 100% no-repeat,
      url('../images/diver_bubl.png') 100% no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 200px left 60px, top 110px right 85px, top 995px left 75px,
      top 925px right 85px, top 0 left 0;
    background-size: 150px 390px, 445px 360px, 370px 290px, 70px 70px, 100%;
  }

  @media screen and (max-width: $md) {
    padding-top: 150px;
    background: url('../images/diver.png') 100% no-repeat, url('../images/scuba.png') 100% no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 110px right 5px, top 995px left 5px, top 0 left 0;
    background-size: 345px 280px, 370px 290px, 100%;
  }

  @media screen and (max-width: $sm) {
    padding-top: 100px;
    background: url('../images/diver.png') 100% no-repeat, url('../images/scuba.png') 100% no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 110px right 5px, top 855px left 5px, top 0 left 0;
    background-size: 310px 260px, 285px 250px, 100%;
  }

  @media screen and (max-width: $xs) {
    padding-top: 100px;
    background: linear-gradient(
      178.68deg,
      #4f3963 -2.24%,
      #764469 31.33%,
      #5e3e66 76.25%,
      #2c2142 94.12%
    );
  }

  &__mobile-text {
    display: none;

    @media screen and (max-width: $xs) {
      @include flex($direction: column, $align: center);

      font-size: $font__size-24;
      line-height: $line__height-36;
      font-weight: $font__weight-700;
      color: $color__white-smoke;

      margin-bottom: 80px;
    }
  }

  &__cards {
    @include flex($wrap: wrap, $justify: center);
    column-gap: 44px;

    @media screen and (max-width: $xxl) {
      column-gap: 20px;
    }

    @media screen and (max-width: $xl) {
      column-gap: 15px;
    }

    @media screen and (max-width: $sm) {
      @include flex($direction: column, $align: center);

      column-gap: 0px;
    }

    @media screen and (max-width: $xs) {
      @include flex($direction: column, $align: center);

      column-gap: 0px;
    }
  }

  &__card {
    @include flex($direction: column, $wrap: wrap);
    overflow: hidden;
    position: relative;
    flex-basis: calc(50% - 22px);

    height: 308px;

    box-shadow: 6px 10px 45px -9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: $color__violet;

    padding: 87px 60px 0px 125px;

    &:nth-child(2) {
      margin-top: 232px;

      @media screen and (max-width: $sm) {
        margin-top: 30px;
      }

      @media screen and (max-width: $xs) {
        margin-top: 20px;
      }
    }

    &:nth-child(2n + 4) {
      margin-top: 160px;

      @media screen and (max-width: $sm) {
        margin-top: 30px;
      }

      @media screen and (max-width: $xs) {
        margin-top: 20px;
      }
    }

    &:nth-child(2n + 3) {
      margin-top: -76px;

      @media screen and (max-width: $sm) {
        margin-top: 30px;
      }

      @media screen and (max-width: $xs) {
        margin-top: 20px;
      }
    }

    @media screen and (max-width: $xxl) {
      height: 345px;

      padding: 85px 50px 0px 100px;
    }

    @media screen and (max-width: $xl) {
      height: 290px;

      padding: 46px 90px 0px 67px;
    }

    @media screen and (max-width: $lg) {
      padding: 35px 65px 0px 70px;
    }

    @media screen and (max-width: $md) {
      height: 270px;
    }

    @media screen and (max-width: $sm) {
      padding: 30px 75px 40px 65px;
    }

    @media screen and (max-width: $xs) {
      padding: 30px 25px 50px 65px;
    }
  }

  &__card-termin {
    font-size: $font__size-24;
    line-height: $line__height-28;
    color: $color__gray-95;
    font-weight: $font__weight-700;

    @media screen and (max-width: $lg) {
      font-size: $font__size-20;
      line-height: $line__height-26;
    }

    @media screen and (max-width: $sm) {
      font-size: $font__size-16;
      line-height: $line__height-20;
    }

    @media screen and (max-width: $xs) {
      font-size: $font__size-24;
      line-height: $line__height-28;
      color: $color__gray-95;
      font-weight: $font__weight-700;
    }
  }

  &__card-description {
    font-size: $font__size-18;
    font-weight: $font__weight-400;
    color: $color__gray-95;

    margin-top: 25px;

    @media screen and (max-width: $lg) {
      font-size: $font__size-16;
    }

    @media screen and (max-width: $sm) {
      font-size: $font__size-14;
    }

    @media screen and (max-width: $xs) {
      font-size: $font__size-14;
      line-height: $line__height-20;
    }
  }

  &__card-number {
    position: absolute;
    left: -18px;
    top: 43px;

    width: 121px;
    height: 90px;

    color: $color__pearly-purple;
    font-size: $font__size-96;
    font-weight: $font__weight-900;
    line-height: $line__height-112;

    @media screen and (max-width: $xl) {
      left: -10px;
      top: 23px;
      font-size: $font__size-64;
      font-weight: $font__weight-700;
    }

    @media screen and (max-width: $sm) {
      left: -12px;
    }

    @media screen and (max-width: $sm) {
      left: -12px;
    }
  }

  &__video {
    padding-top: 336px;

    @media screen and (max-width: $xxl) {
      padding-top: 160px;
    }

    @media screen and (max-width: $xl) {
      padding-top: 150px;
    }

    @media screen and (max-width: $lg) {
      padding-top: 140px;
    }

    @media screen and (max-width: $sm) {
      padding-top: 80px;
    }

    @media screen and (max-width: $xs) {
      padding-top: 40px;
    }
  }
}

.video {
  &__container {
    margin-bottom: 70px;

    @media screen and (max-width: $xs) {
      margin-bottom: 0px;
    }
  }

  &__text {
    @include flex($direction: column);

    color: $color__white-smoke;
    font-size: $font__size-64;
    line-height: $line__height-96;

    margin-bottom: 100px;

    @media screen and (max-width: $xl) {
      font-size: $font__size-48;
      line-height: $line__height-80;
    }

    @media screen and (max-width: $lg) {
      margin-bottom: 70px;
    }

    @media screen and (max-width: $sm) {
      font-size: $font__size-40;
      line-height: $line__height-60;
    }

    @media screen and (max-width: $xs) {
      @include flex($direction: column, $align: center);

      font-size: $font__size-24;
      line-height: $line__height-36;

      margin-bottom: 40px;
    }
  }

  &__player {
    @media screen and (max-width: $xs) {
      height: 461px;
    }
  }
}
