.footer {
  padding-top: 330px;
  padding-bottom: 538px;

  background: url('../images/submarine.png') 100% no-repeat,
    url('../images/fish.png') 100% no-repeat, url('../images/footer_bckg.png') 100% no-repeat,
    linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
  background-position: top 0 right 0, bottom 409px left 0, bottom 0 left 0, top 0 left 0;

  @media screen and (max-width: $xxl) {
    background: url('../images/submarine.png') no-repeat,
      url('../images/fish_adaptive.png') no-repeat, url('../images/footer_bckg.png') no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 0 right 0px, bottom 320px left -95px, bottom 0 left 0, top 0 left 0;
    background-size: 265px 315px, 465px 320px, 100%, 100%;

    padding-top: 294px;
    padding-bottom: 590px;
  }

  @media screen and (max-width: $xl) {
    padding-top: 190px;
    padding-bottom: 315px;
    background: url('../images/submarine.png') no-repeat,
      url('../images/fish_adaptive.png') no-repeat, url('../images/footer_bckg.png') no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 0 right 0px, bottom 185px left 0px, bottom 0 left 0, top 0 left 0;
    background-size: 195px 240px, 280px 200px, 100%, 100%;
  }

  @media screen and (max-width: $lg) {
    padding-top: 170px;
    padding-bottom: 300px;
    background: url('../images/submarine.png') no-repeat,
      url('../images/fish_adaptive.png') no-repeat, url('../images/footer_bckg.png') no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 0 right 0px, bottom 185px left 0px, bottom 0 left 0, top 0 left 0;
    background-size: 175px 220px, 260px 180px, 100%, 100%;
  }

  @media screen and (max-width: $md) {
    background: url('../images/submarine.png') no-repeat,
      url('../images/fish_adaptive.png') no-repeat, url('../images/footer_bckg.png') no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 0 right 0px, bottom 120px left 0px, bottom 0 left 0, top 0 left 0;
    background-size: 175px 220px, 260px 180px, 100%, 100%;
  }

  @media screen and (max-width: $sm) {
    background: url('../images/submarine.png') no-repeat,
      url('../images/fish_adaptive.png') no-repeat, url('../images/footer_bckg.png') no-repeat,
      linear-gradient(178.68deg, #4f3963 -2.24%, #764469 31.33%, #5e3e66 76.25%, #2c2142 94.12%);
    background-position: top 0 right 0px, bottom 140px left 0px, bottom 0 left 0, top 0 left 0;
    background-size: 140px 180px, 240px 160px, 100%, 100%;
  }

  &__tariffs {
    @include flex(center, center);
    column-gap: 260px;

    @media screen and (max-width: $xxl) {
      column-gap: 120px;
    }

    @media screen and (max-width: $xl) {
      column-gap: 80px;
    }

    @media screen and (max-width: $sm) {
      column-gap: 40px;
    }
  }

  &__tariff {
    @include flex($direction: column, $align: stretch);

    width: 500px;

    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(1px 63px 100px rgba(0, 0, 0, 0.25));

    @media screen and (max-width: $xl) {
      width: 320px;
    }

    &_left {
      padding: 50px 65px 45px;

      background-image: url('../images/background1.png');

      @media screen and (max-width: $xl) {
        padding: 25px 40px;
      }
    }

    &_right {
      padding: 50px 55px 100px;

      background-image: url('../images/background2.png');

      @media screen and (max-width: $xxl) {
        padding: 50px 50px 100px;
      }

      @media screen and (max-width: $xl) {
        padding: 25px 20px 50px;
      }
    }
  }

  &__short-title {
    @include flex($direction: column);
    line-height: $line__height-72;
    color: $color__white;

    @media screen and (max-width: $xl) {
      line-height: $line__height-40;
    }
  }

  &__text {
    font-size: $font__size-24;
    line-height: $line__height-36;
    font-weight: $font__weight-500;
    color: $color__gray-95;

    margin-top: 40px;

    @media screen and (max-width: $xl) {
      margin-top: 22px;
      font-size: $font__size-18;
    }

    @media screen and (max-width: $sm) {
      line-height: $line__height-28;
    }
  }

  &__button {
    color: $color__white;

    border: 5px solid $color__white;

    margin-top: 100px;
    padding: 12px 45px 11px 45px;

    @media screen and (max-width: $xl) {
      margin-top: 23px;
      padding: 6px 24px 6px 24px;

      border: 3px solid $color__white;
    }
  }
}
