.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1;

  padding-top: 75px;

  &__container {
    @include flex(space-between, center);
  }

  &__logo {
    width: 115px;
    height: 114px;

    @media screen and (max-width: $md) {
      width: 67px;
      height: 66px;
    }
  }

  &__button {
    margin-right: 30px;

    @media screen and (max-width: $md) {
      margin-bottom: 20px;
      font-size: $font__size-14;
      line-height: $line__height-16;
    }
  }
}
