.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1;

  padding-top: 75px;

  @media screen and (max-width: $xs) {
    padding-top: 25px;
  }

  &__container {
    @include flex($justify: space-between, $align: center);

    @media screen and (max-width: $xs) {
      padding: 0px 10px;
    }
  }

  &__logo {
    width: 115px;
    height: 114px;

    @media screen and (max-width: $xl) {
      width: 70px;
      height: 69px;
    }

    @media screen and (max-width: $xs) {
      width: 50px;
      height: 49px;
    }
  }

  &__btns {
    @media screen and (max-width: $xs) {
      display: none;
    }
  }

  &__hamburger-wrap {
    display: none;

    @media screen and (max-width: $xs) {
      display: block;
    }
  }

  &__hamburger-button {
    display: none;

    @media screen and (max-width: $xs) {
      @include flex($direction: column, $justify: space-between);
      position: relative;

      transition: 0.5s;

      width: 30px;
      height: 20px;

      &::before,
      &::after {
        content: '';
        height: 4px;
        width: 100%;

        transition: 0.5s;

        transform-origin: left;

        background-color: $color__gray-99;
      }

      .header__hamburger-wrap_active {
        &::before {
          transform: rotate(45deg);
        }

        &::before,
        &::after {
          width: 75%;
        }

        &::after {
          transform: rotate(-45deg);
        }

        .button-hamburger__item-cross {
          opacity: 0;
          width: 0;
        }
      }
    }
  }

  .button-hamburger__item {
    display: none;

    @media screen and (max-width: $xs) {
      display: block;
      height: 4px;
      width: 30px;

      transition: 0.5s;
      transform-origin: right;

      background-color: $color__gray-99;

      &:focus {
        opacity: 0;
      }
    }
  }
}
