.sidebar {
  display: none;

  transform: translateY(-120%);

  &__logo {
    width: 50px;
    height: 49px;

    margin-top: 25px;
  }

  @media screen and (max-width: $xs) {
    @include flex($direction: column, $align:center);

    position: fixed;
    z-index: 3;
    left: 0;

    width: 116px;
    height: 100vh;

    transition: 0.5s;

    background-color: $color__violet;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    text-align: center;

    &:active // тут поставить класс аквтив сайдбар
     {
      transform: translateX(0);
    }

    &__list-item_border {
      border-top: 2px solid $color__red-value;
    }
    .sidebar__link {
      display: block;

      padding: 10px;

      color: $color__white;
      border-bottom: 2px solid $color__red-value;

      &:hover {
        transition: 0.5s;
        background-color: $color__japonica;
      }
    }
  }
}
