.octopus {
  min-height: 1080px;
  padding-bottom: 84px;

  background-image: url('../images/bubble.png'), url('../images/Group_bubls.png'),
    linear-gradient(252.43deg, #d45b78 0.01%, #4b3862 101.01%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 128px bottom 109px, right 27px bottom 31px, top 0 left 0;

  @media screen and (max-width: $xxl) {
    padding-top: 190px;
  }

  @media screen and (max-width: $xl) {
    padding-top: 112px;
    background-image: url('../images/bubble.png'), url('../images/Group_bubls.png'),
      linear-gradient(252.43deg, #d45b78 0.01%, #4b3862 101.01%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 15px bottom 90px, right 40px bottom 100px, top 0 left 0;
    background-size: 130px 215px, 85px 125px, 100%;
    min-height: auto;
  }

  @media screen and (max-width: $lg) {
    padding-top: 80px;
    background-image: url('../images/bubble.png'), url('../images/Group_bubls.png'),
      linear-gradient(252.43deg, #d45b78 0.01%, #4b3862 101.01%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 35px bottom 125px, right 40px bottom 100px, top 0 left 0;
    background-size: 130px 215px, 85px 125px, 100%;
    min-height: auto;
  }

  @media screen and (max-width: $md) {
    padding-top: 40px;
    background-image: url('../images/bubble.png'), url('../images/Group_bubls.png'),
      linear-gradient(252.43deg, #d45b78 0.01%, #4b3862 101.01%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 50px bottom 50px, right 20px bottom 75px, top 0 left 0;
    background-size: 100px 165px, 85px 125px, 100%;
    min-height: auto;
  }

  @media screen and (max-width: $sm) {
    padding-top: 20px;
    background-image: url('../images/bubble.png'), url('../images/Group_bubls.png'),
      linear-gradient(252.43deg, #d45b78 0.01%, #4b3862 101.01%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 25px bottom 35px, right 10px bottom 30px, top 0 left 0;
    background-size: 80px 135px, 65px 100px, 100%;
    min-height: auto;
  }

  &__container {
    @include flex($align: center, $direction: column);

    /* 84px is padding-bottom of .octopus*/
    height: calc(100vh - 84px);

    @media screen and (max-width: $xxl) {
      width: 1120px;
    }

    @media screen and (max-width: $xl) {
      width: 1120px;
    }

    @media screen and (max-width: $lg) {
      width: 760px;
    }

    @media screen and (max-width: $md) {
      width: 100%;
    }

    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }

  &__img {
    @include flex($justify: center, $align: center);

    width: 1280px;

    margin-top: auto;

    @media screen and (max-width: $xxl) {
      width: 1120px;
    }

    @media screen and (max-width: $xl) {
      width: 668px;
    }

    @media screen and (max-width: $lg) {
      width: 598px;
    }

    @media screen and (max-width: $md) {
      width: 510px;
    }

    @media screen and (max-width: $sm) {
      width: 410px;
    }
  }

  &__title {
    color: $color__gray-99;

    margin-top: 14px;

    @media screen and (max-width: $xl) {
      margin-top: 10px;
    }
  }

  &__subtitle {
    width: 890px;
    height: 72px;

    text-align: center;
    color: $color__gray-95;

    margin-top: 37px;

    @media screen and (max-width: $xxl) {
      margin-top: 30px;
    }

    @media screen and (max-width: $xl) {
      margin-top: 5px;
    }

    @media screen and (max-width: $lg) {
      width: 700px;
    }

    @media screen and (max-width: $sm) {
      width: 500px;

      margin-top: 10px;
    }
  }
}
