.octopus {
  min-height: 1080px;
  padding-bottom: 84px;

  background-image: url('../images/bubble.png'), url('../images/Group_bubls.png'),
    linear-gradient(252.43deg, #d45b78 0.01%, #4b3862 101.01%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 128px bottom 109px, right 27px bottom 31px, top 0 left 0;

  @media screen and (max-width: $md) {
    background-image: url('../images/bubble.png'), url('../images/Group_bubls.png'),
      linear-gradient(252.43deg, #d45b78 0.01%, #4b3862 101.01%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 35px bottom 525px, right 27px bottom 530px, top 0 left 0;
    background-size: 75px 125px, 63px 100px, 100%;
  }

  &__container {
    @include flex($align: center, $direction: column);

    /* 84px is padding-bottom of .octopus*/
    height: calc(100vh - 84px);

    @media screen and (max-width: $xxl) {
      width: 1120px;
    }

    @media screen and (max-width: $xl) {
      width: 815px;
      height: calc(100vh - 200px);
    }

    @media screen and (max-width: $md) {
      width: 448px;

      min-height: 950px;
    }
  }

  &__img {
    @include flex($justify: center, $align: center);

    width: 1280px;

    margin-top: auto;

    @media screen and (max-width: $xxl) {
      width: 1120px;
    }

    @media screen and (max-width: $xxl) {
      width: 815px;
    }

    @media screen and (max-width: $md) {
      width: 512px;
      margin-top: 120px;
    }
  }

  &__title {
    color: $color__gray-99;

    margin-top: 14px;
  }

  &__subtitle {
    width: 890px;
    height: 72px;

    text-align: center;
    color: $color__gray-95;

    margin-top: 37px;

    @media screen and (max-width: $xxl) {
      margin-top: 30px;
    }

    @media screen and (max-width: $md) {
      width: 556px;
      height: 52px;

      margin-top: 20px;
    }
  }
}
