.sidebar {
  display: none;

  @media screen and (max-width: $xs) {
    @include flex($direction: column, $align: center);

    position: fixed;
    z-index: 3;
    left: 0;

    transform: translateX(-120%);

    width: 116px;
    height: 100vh;

    transition: 0.5s;

    text-align: center;

    background-color: $color__violet;

    &__active {
      transform: translateX(0);
    }
  }
}

.navigation {
  display: none;

  @media screen and (max-width: $xs) {
    display: block;

    &__logo {
      width: 50px;
      height: 49px;

      margin-top: 25px;
      margin-bottom: 30px;
    }

    &__list-item_with-border {
      border-top: 2px solid $color__red-value;
    }

    &__link {
      display: block;

      padding: 10px;

      transition: 0.5s;

      color: $color__white;
      border-bottom: 2px solid $color__red-value;

      &:hover {
        background-color: $color__japonica;
      }
    }
  }
}
