@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/Roboto-BoldItalic.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
}

.container {
  width: 1520px;
  margin: 0 auto;
}

h1 {
  font-size: $font__size-64;
  font-weight: $font__weight-700;
  line-height: $line__height-75;

  margin: 0;
}

h2 {
  font-size: $font__size-48;
  font-weight: $font__weight-700;
  line-height: $line__height-64;

  margin: 0;
}

h3 {
  font-size: $font__size-24;
  font-weight: $font__weight-400;
  line-height: $line__height-36;

  margin: 0;
}

button {
  background: none;
  border: none;

  cursor: pointer;
  transition: 0.5s;

  padding: 0;
}

.button {
  @extend %button;

  &:hover {
    color: $color__cosmos;
  }

  &:active {
    color: $color__white;
  }
}

.button-outline {
  @extend %button;

  border-radius: 5px;
  border: 2px solid #fcfcfc;

  padding: 5px 30px;

  &:hover {
    color: $color__cosmos;
  }

  &:active {
    color: $color__white;
  }

  &:hover {
    color: $color__cosmos;
  }

  &:active {
    color: $color__white;
  }
}

.button__outlined-md {
  @extend %button__outlined-md;
}

.button-contained {
  color: $color__white;
  @extend %button__outlined-md;
  text-transform: uppercase;

  padding: 20px 59px;
  margin-top: 68px;

  background-color: $color__japonica;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: $color__mandy;
  }

  &:active {
    background-color: $color__maroon;
  }
}

img {
  width: 100%;
}

dl,
dd,
dt,
p,
article {
  margin: 0;
}
