@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/Roboto-BoldItalic.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
}

.container {
  width: 1520px;
  margin: 0 auto;

  @media screen and (max-width: $xxl) {
    width: 1120px;
    margin: 0 auto;
  }

  @media screen and (max-width: $xl) {
    width: 815px;
  }

  @media screen and (max-width: $md) {
    width: 608px;
  }
}

h1 {
  font-size: $font__size-64;
  font-weight: $font__weight-700;
  line-height: $line__height-75;

  margin: 0;

  @media screen and (max-width: $md) {
    font-size: $font__size-26;
    line-height: $line__height-30;
  }
}

h2 {
  font-size: $font__size-48;
  font-weight: $font__weight-700;
  line-height: $line__height-64;

  margin: 0;

  @media screen and (max-width: $xl) {
    font-size: $font__size-34;
  }

  @media screen and (max-width: $md) {
    font-size: $font__size-24;
  }
}

h3 {
  font-size: $font__size-24;
  font-weight: $font__weight-400;
  line-height: $line__height-36;

  margin: 0;

  @media screen and (max-width: $md) {
    font-size: $font__size-14;
    line-height: $line__height-18;
  }
}

button {
  background: none;
  border: none;

  cursor: pointer;
  transition: 0.5s;

  padding: 0;
}

.button {
  @extend %button;

  &:hover {
    color: $color__cosmos;
  }

  &:active {
    color: $color__white;
  }

  @media screen and (max-width: $md) {
    font-size: $font__size-6;
  }
}

.button-outline {
  @extend %button;

  border-radius: 5px;
  border: 2px solid $color__gray-99;

  padding: 5px 30px;

  @media screen and (max-width: $md) {
    padding: 5px 20px;

    border: 1px solid $color__gray-99;

    font-size: $font__size-14;
  }

  &:hover {
    color: $color__cosmos;
  }

  &:active {
    color: $color__white;
  }

  &:hover {
    color: $color__cosmos;
  }

  &:active {
    color: $color__white;
  }
}

.button__outlined-md {
  @extend %button__outlined-md;

  @media screen and (max-width: $xl) {
    font-size: $font__size-18;
    line-height: $line__height-22;
  }
}

.button-contained {
  color: $color__white;
  @extend %button__outlined-md;
  text-transform: uppercase;

  padding: 20px 59px;
  margin-top: 68px;

  background-color: $color__japonica;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: $color__mandy;
  }

  &:active {
    background-color: $color__maroon;
  }

  @media screen and (max-width: $xxl) {
    margin-top: 70px;
  }

  @media screen and (max-width: $md) {
    margin-top: 30px;

    font-size: $font__size-20;
    line-height: $line__height-26;

    padding: 10px 30px;

    border-radius: 3px;
  }
}

img {
  width: 100%;
}

dl,
dd,
dt,
p,
article {
  margin: 0;
}
