// colors
$color__gray-95: #f2f2f2;
$color__gray-99: #fcfcfc;
$color__violet: #523a64;
$color__pearly-purple: #944b6e;
$color__white-smoke: #f6f6f6;
$color__white: #ffffff;
$color__cosmos: #ffd9d9;
$color__japonica: #d75c78;
$color__mandy: #df4c6e;
$color__maroon: #c83e5d;
$font__size-64: 64px;
$font__size-48: 48px;
$font__size-24: 24px;
$font__size-18: 18px;
$font__weight-700: 700;
$font__weight-400: 400;
$line__height-75: 75px;
$line__height-64: 64px;
$line__height-36: 36px;

// mixin

@mixin flex($justify: flex-start, $align: start, $direction: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// inheritance

%button {
  font-size: 18px;
  color: $color__gray-99;
  font-weight: 400;
}

%button__outlined-md {
  font-size: 36px;
  line-height: 42px;
}
