@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/Roboto-BoldItalic.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
}

.container {
  width: 1520px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;

  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;

  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;

  margin: 0;
}

button {
  background: none;
  border: none;

  cursor: pointer;
  transition: 0.5s;

  padding: 0;
}

.button {
  font-size: 18px;
  color: #fcfcfc;
  font-weight: 400;
}

.button-outline {
  font-size: 18px;
  color: #fcfcfc;
  font-weight: 400;

  border-radius: 5px;
  border: 2px solid #fcfcfc;

  padding: 5px 30px;
}

.button__outlined-md {
  font-size: 36px;
  line-height: 42px;
}

.button-contained {
  color: #ffffff;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;

  padding: 20px 59px;
  margin-top: 68px;

  background-color: #d75c78;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.button:hover,
.button-outline:hover {
  color: #ffd9d9;
}

.button:active,
.button-outline:active {
  color: #ffffff;
}

.button-contained:hover {
  background-color: #df4c6e;
}

.button-contained:active {
  background-color: #c83e5d;
}

img {
  width: 100%;
}

dl,
dd,
dt,
p,
article {
  margin: 0;
}
