@font-face {
    font-family: "Roboto-Regular";
    src: 
    url("./Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Italic" ;
    src: url("./Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("./Roboto-BoldItalic.ttf");
}

body {
    font-family: "Macondo-Regular";
}

.container {
    width: 1520px;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    padding-top: 75px;
}

.button {
    background: none;
    border: none;

    color: #FCFCFC;
    font-weight: 400;
    font-family: "Macondo-Regular";
}

.header__button {
    font-size: 18px;
}

.header__button-outline {
    border-radius: 5px;
    border: 2px solid #FCFCFC;

    padding: 5px 20px;
}

.header__button:hover {
    color: #FFD9D9;
}

.header__button:active {
    color: #FFFFFF;
}

.header__button-outline:hover {
    color:#FFD9D9 ;
}

.header__button-outline:active {
    color: #FFFFFF;
}


