@font-face {
    font-family: "Roboto-Regular";
    src: 
    url("./Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Italic" ;
    src: url("./Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("./Roboto-BoldItalic.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto-Regular", Arial, sans-serif;
}

.container {
    width: 1520px;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;

    margin: 0;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;

    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

    margin: 0;
}

button {
    background: none;
    border: none;

    cursor: pointer;
    transition: 0.5s;

    padding: 0;
}

.button {
    font-size: 18px;
    color: #FCFCFC;
    font-weight: 400;
}

.button-outline {
    font-size: 18px;
    color: #FCFCFC;
    font-weight: 400;

    border-radius: 5px;
    border: 2px solid #FCFCFC;

    padding: 5px 30px;
}

.button__outline-md {
    font-size: 36px;
    line-height: 42px;
}

.button-contained {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    padding: 20px 59px;
    margin-top: 68px;

    background-color: #D75C78;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.button:hover,
.button-outline:hover {
    color: #FFD9D9;
}

.button:active,
.button-outline:active {
    color: #FFFFFF;
}

.button-contained:hover {
    background-color: #DF4C6E;
}

.button-contained:active {
    background-color: #C83E5D;
}

img {
    width: 100%;
}

dl,dd,dt,p,article {
    margin: 0;
}
